
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  .imageContainer {
    position: relative;
    width: 100%;
    
  }

.forImage{
    width: 100%;
    
    height: 500px;
    border: 2px solid white;
    border-radius: 5px;
    filter: blur(1.0px);
}

.overlayText{
    position: absolute;
    left: 30%;
    top: 15%;
    color: white;
    font-weight: 80px;
    font-size: 80px;
    text-align: center;
}